@model IoC_MVC.Models.DevChrgTrackingService

@{
    ViewBag.Title = "Device Charging Tracker";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Home</h2>
This landing page shows the MVC app is active and running.   Click on the "Device Charging Simulator" link above to test the IoC bits.